/* ===== CSS FOUNDATION ===== */
* { box-sizing: border-box; }
html, body { height: 100%; }



/* ===== FONTS ===== */
@font-face {
  font-family: "HitMePunk04";
  src: url("../assets/fonts/Hit-me-punk-04.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


